################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/BabyFunTIme/BabyFunTime/bin/Debug
/BabyFunTIme/BabyFunTime/obj/Debug
